<h2>Add new celebrity</h2>
<form action="/celebrities/create" method="post">
<div>
    Name:<input type="text" name="name">
</div>
<div>
    Occupation:<input type="text" name="occupation">
</div>
<div>
    CathPhrase:<input type="text" name="catchPhrase">
</div>
<button type="submit">Create</button>
</form>