<h2 class="m-3">List of celebrities:</h2>
<ul>
  {{#each celebrities as |celebrity| }}
    <li class="list-item"> {{ celebrity.name }} <a class="ml-3" href="/celebrities/{{ celebrity._id }}"><em>See detail</em></a></li>
  {{/each }}
</ul>
<a href="/celebrities/create">New Celebrity</a>
